* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
}

h1 {
  font-size: 87px;
  color: #b0b0b0;
}

h2 {
  font-size: 70px;
  color: #b0b0b0;
}

h3 {
  color: #ae8d67;
  font-size: 32px;
}

h4 {
  color: #ae8652;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
}

ul {
  list-style: none;
}

i {
  color: #b0b0b0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  padding: 15px 40px;
  color: #ae8652;
  border: 2px solid #ae8652;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn:hover {
  color: #65401e;
  border-color: #65401e;
  transition: 0.3s linear;
}

.square {
  width: 65px;
  height: 65px;
  margin: 5px 0;
  background-color: #ffffff;
  border-radius: 5px;
}

main {
  margin-bottom: 600px;
  overflow-x: hidden;
}

#services,
#avada-grooming-products {
  padding: 50px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

header {
  height: 100vh;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
}
header .header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  z-index: 2;
}
header .header-top .container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
}
header .header-top .container .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .header-top .container .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .header-top .container .right #icons-list li {
  display: inline-block;
}
header .header-top .container .right #icons-list li a i {
  margin: 15px;
  vertical-align: middle;
  z-index: 2;
}
header .header-top .container .right #icons-list li a i:hover {
  color: #ae8652;
  transition: 0.3s linear;
}
header .header-top .container .right #icons-list li a i.fa-shopping-cart {
  font-size: 17px;
}
header .header-top .container .right #icons-list li a i.fa-bars {
  font-size: 27px;
}
header .header-bottom {
  height: calc(100% - 95px);
  padding-top: 95px;
}
header .header-bottom .container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
}
header .header-bottom .container .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .header-bottom .container .left .text hr {
  width: 250px;
  margin: 30px 0;
  border: 2px solid #ae8652;
}
header .header-bottom .container .left .text p {
  font-size: 24px;
  color: #505050;
}
header .header-bottom .container .left .text a {
  margin: 50px 0;
}
header .header-bottom .container .right {
  width: 50%;
  height: 100%;
}
header .header-bottom .container .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
header .aside {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 100%;
  padding: 150px 0;
}
header .aside a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .aside a i {
  margin-bottom: 8px;
  color: #4f659a;
  font-size: 28px;
}
header .aside a p {
  font-size: 12px;
  font-weight: 700;
  color: #4f659a;
}
header .hamburger-layover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
header .hamburger-layover #nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hamburger-layover #nav-list li a {
  padding: 26px 0;
  font-family: "Abril Fatface", cursive;
  font-size: 26px;
  color: #ffffff;
}
header .hamburger-layover #nav-list li a:hover {
  color: #ae8652;
  transition: 0.3s linear;
}

#pro-barbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 560px;
  padding-bottom: 100px;
  background-image: url("../img/avadabarbers-about-introbackground.jpg");
  background-position: top;
}
#pro-barbers h2 {
  margin-bottom: 40px;
}

#services {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
}
#services::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translatex(-50%);
  width: 0;
  height: 0;
  border-left: 950px solid transparent;
  border-right: 950px solid transparent;
  border-bottom: 100px solid #ffffff;
}
#services .container {
  width: 60%;
  height: 100%;
  margin: auto;
}
#services .container .column-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
#services .container .column-section .column {
  width: calc(100% / 3);
  padding: 50px;
}
#services .container .column-section .column .content {
  width: 100%;
  text-align: center;
}
#services .container .column-section .column .content img {
  height: 110px;
}
#services .container .column-section .column .content h3 {
  margin: 20px 0;
}
#services .container .column-section .column .content p {
  font-size: 18px;
  color: #505050;
  font-weight: 300;
  line-height: 32.4px;
}

#avada-grooming-products {
  position: relative;
  height: 1070px;
  background-image: url("../img/avadabarbers-reviewsbackground.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
  text-align: center;
}
#avada-grooming-products::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translatex(-50%);
  width: 0;
  height: 0;
  border-left: 950px solid transparent;
  border-right: 950px solid transparent;
  border-bottom: 100px solid #121314;
}
#avada-grooming-products .column-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
#avada-grooming-products .column-section .column {
  width: calc(100% / 4);
  padding: 50px 100px;
}
#avada-grooming-products .column-section .column .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#avada-grooming-products .column-section .column .content img {
  width: 450px;
}
#avada-grooming-products .column-section .column .content p {
  margin: 10px 0;
  color: #ae8652;
  font-weight: 300;
  font-size: 18px;
}

#reviews {
  position: relative;
  height: 1260px;
  background-color: #ffffff;
}
#reviews::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translatex(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 950px solid transparent;
  border-right: 950px solid transparent;
  border-bottom: 100px solid #ffffff;
}

#blog-posts {
  height: 1100px;
  background-color: #eae8e6;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}
footer .footer-top {
  height: calc(600px - 100px);
  background-color: #111110;
}
footer .footer-top .container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
footer .footer-top .container .column {
  width: calc(100% / 3);
  padding: 50px;
}
footer .footer-top .container .column:nth-child(2) a#logo {
  margin: 0;
}
footer .footer-top .container .column:nth-child(2) .corporate-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0;
  color: #505050;
  line-height: 22px;
}
footer .footer-top .container .column:nth-child(2) #social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
footer .footer-top .container .column:nth-child(2) #social li {
  margin: 0 8px;
}
footer .footer-top .container .column:nth-child(2) #social li i:hover {
  color: #8a8a8a;
  transition: 0.3s linear;
}
footer .footer-top .container .column .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
footer .footer-top .container .column .content a {
  margin: 40px 0;
  font-size: 14px;
}
footer .footer-bottom {
  height: 100px;
  line-height: 100px;
  background-color: #191817;
  color: #353333;
  font-weight: 300;
  text-align: center;
}
footer .footer-bottom a {
  color: #353333;
}
footer .footer-bottom a:hover {
  color: #ae8652;
  transition: 0.3s linear;
}
