* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: $standardFontweight;
}
h1 {
  font-size: 87px;
  color: $standardTextColor;
}
h2 {
  font-size: 70px;
  color: $standardTextColor;
}
h3 {
  color: $h3Color;
  font-size: 32px;
}
h4 {
  color: $brandColor;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
}
ul {
  list-style: none;
}
i {
  color: $standardTextColor;
}
a {
  display: inline-block;
  text-decoration: none;
}
.btn {
  @include buttonsSetup ($brandColor);
  &:hover {
    @include hoverButtonSetup($hoverButtonsColor);
  }
}
.square {
  width: $squareAsideHeight;
  height: $squareAsideHeight;
  margin: 5px 0;
  background-color: #ffffff;
  border-radius: 5px;
}
