footer {
  @include position(fixed, bottom, 0, left, 0);
  @include setWH(100%, $footerHeight);
  z-index: -1;
  .footer-top {
    height: calc(#{$footerHeight} - #{$footerBottomHeight});
    background-color: $footerTopBgColor;
    .container {
      @include headerContainer($standardContainerWidth);
      @include displaySet(row, flex-start, stretch);
      .column {
        width: calc(100% / 3);
        padding: 50px;
        &:nth-child(2) {
          a#logo {
            margin: 0;
          }
          .corporate-data {
            @include displaySet(column, flex-start, center);
            margin: 40px 0;
            color: $mainParagrapghColor;
            line-height: 22px;
          }

          #social {
            @include displaySet(row, center, stretch);
            li {
              margin: 0 8px;
              i:hover {
                color: darken($standardTextColor, 15%);
                transition: $standardTransition;
              }
            } // li
          } // social
        } // &:nth-child(2)

        .content {
          @include displaySet(column, flex-start, center);
          @include setWH(100%, none);

          a {
            margin: 40px 0;
            font-size: 14px;
          }
        } //content
      } // column
    } // container
  } // footer-top

  .footer-bottom {
    @include setWH(none, $footerBottomHeight);
    line-height: $footerBottomHeight;
    background-color: $footerBottomBgColor;
    color: $footerBottomColor;
    font-weight: 300;
    text-align: center;

    a {
      color: $footerBottomColor;
      &:hover {
        color: $brandColor;
        transition: $standardTransition;
      }
    } //a
  } //.footer-bottom
} //footer
