header {
  height: 100vh;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  @include backgroundSize;

  .container {
    @include headerContainer($standardContainerWidth);

    .header-top {
      display: flex;
      height: $headerTopHeight;

      .left {
        @include headerTopChildSet;
        @include displaySet(row, start, end);

        img {

        }
      } // .left

      .right {
        @include headerTopChildSet;
        @include displaySet(row, end, end);

        #icons-list {

          li {
            display: inline-block;

            a {

              i {
                margin: $iconsMargin;
                vertical-align: middle;
                &:hover {
                  color: $brandColor;
                  transition: 0.3s linear;
                }
              }
              i.fa-shopping-cart {
                font-size: 17px;
              }
              i.fa-bars {
                font-size: 27px;
              }
            } //a
          } //li
        } //#icons-list
      } //.right
    } // header-top

    .header-bottom {
      display: flex;
      height: $headerBottomHeight;

      .left {
        @include headerTopChildSet;
      }

      .right {
        @include headerTopChildSet;
      }
    } //.header-bottom
  } // .container
} // header
