header {
  @include setWH(none, 100vh);
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  @include backgroundSize;
  background-position: top;

  .header-top {
    @include position(fixed, top, 0, left, 0);
    @include setWH(100%, $headerTopHeight);
    padding: 0 15px;
    z-index: 2;
    .container {
      @include headerContainer($standardContainerWidth);
      @include displaySet(row, flex-start, stretch);
      .left {
        @include headerTopChildSet;
        @include displaySet(row, flex-start, center);
      } // .left
      .right {
        @include headerTopChildSet;
        @include displaySet(row, flex-end, center);
        #icons-list {
          li {
            display: inline-block;
            a {
              i {
                margin: $iconsMargin;
                vertical-align: middle;
                &:hover {
                  color: $brandColor;
                  transition: $standardTransition;
                }
              }
              i.fa-shopping-cart {
                font-size: 17px;
              }
              i.fa-bars {
                font-size: 27px;
              }
            } //a
          } //li
        } //#icons-list
      } //.right
    } // container
  } // header top

  .header-bottom {
    @include setWH(none, $headerBottomHeight);
    padding: $headerTopHeight 15px 0;
    .container {
      @include headerContainer($standardContainerWidth);
      @include displaySet(row, flex-start, stretch);
      .left {
        @include headerTopChildSet;
        @include displaySet(row, flex-start, center);
        .text {
          hr {
            @include setWH(250px, none);
            margin: 30px 0;
            border: 2px solid $brandColor;
          }
          p {
            font-size: 24px;
            color: #505050;
          }
          a {
            margin: 50px 0;
          }
        } // .text
      } // .left

      .right {
        @include headerTopChildSet;
        img {
          @include setWH(100%, 100%);
          object-fit: contain;
          object-position: top;
        }
      } // .right
    } // .container
  } //.header-bottom

  .aside {
    @include position(absolute, top, 0, right, 0);
    @include displaySet(column, flex-start, center);
    @include setWH(100px, 100%);
    padding: 150px 0;
    a {
      @include displaySet(column, center, center);
      flex-wrap: wrap;
      i {
        margin-bottom: 8px;
        color: $asideColor;
        font-size: 28px;
      }
      p {
        font-size: 12px;
        font-weight: 700;
        color: $asideColor;
      }
    } // a
  } // aside

  .hamburger-layover {
    @include position(fixed, top, 0, right, 0);
    @include setWH(100%, 100vh);
    background-color: rgba(0, 0, 0, 0.7);
    //background-image: url("../img/prova.jpg");
    @include backgroundSize;
    background-position: center;
    z-index: 1;
    #nav-list {
      @include setWH(none, 100%);
      @include displaySet(column, center, center);
      li {
        a {
          padding: 26px 0;
          font-family: 'Abril Fatface', cursive;
          font-size: 26px;
          color: #ffffff;
          &:hover {
            color: $brandColor;
            transition: $standardTransition;
          }
        } // a
      } //li
    } //#nav-list
  } //.hamburger-layover
} // header
