main {
  margin-bottom: $footerHeight;
  overflow-x: hidden;

  #pro-barbers {
    @include displaySet(column, center, center);
    @include backgroundSize;
    height: 560px;
    padding-bottom: $triangleHeight;
    background-image: url("../img/avadabarbers-about-introbackground.jpg");
    background-position: top;

    h2 {
      margin-bottom: 40px;
    }

  } // pro-barbers
  #services {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    &::before {
      @include triangleUpLayout(#ffffff);
    }

    .container {
      @include headerContainer($standardContainerWidth);

      .text {
        padding: 70px 0;
        text-align: center;
      }

      .column-section {
        @include displaySet(row, flex-start, stretch);
        flex-wrap: wrap;

        .column {
          width: calc(100% / 3);
          padding: 50px;

          .content {
            width: 100%;
            text-align: center;

            img {
              height: 110px;
            }
            h3 {
              margin: 20px 0;
            }
            p {
              font-size: 18px;
              color: $mainParagrapghColor;
              font-weight: 300;
              line-height: 32.4px;
            }
          } // content
        } // column
      } // column-section
      .service-link {
        text-align: center;
      }
    } // container
  } // Services

  #avada-grooming-products {
    position: relative;
    height: 1070px;
    background-image: url("../img/avadabarbers-reviewsbackground.jpg");
    @include backgroundSize;
    background-position: top;
    &::before {
      @include triangleUpLayout(#121314);
    }
  } //avada-grooming-products

  #reviews {
    position: relative;
    height: 1260px;
    background-color: #ffffff;
    &::after {
      @include triangleDownLayout(#ffffff);
    }
  }

  #blog-posts {
    height: 1100px;
    background-color: $blogSectionColor;
  }

} // main
