$standardContainerWidth: 60%;
$headerTopHeight: 95px;
$headerBottomHeight: calc(100% - #{$headerTopHeight});
$brandColor: #ae8652;
$standardTextColor: #eae8e6;
$standardFontweight: 400;
$iconsMargin: 15px;
$hoverButtonsColor: #65401e;
$standardTransition: 0.3s linear;
