$standardContainerWidth: 60%;
$headerTopHeight: 95px;
$headerBottomHeight: calc(100% - #{$headerTopHeight});
$brandColor: #ae8652;
$h3Color: #ae8d67;
$mainParagrapghColor: #505050;
$standardTextColor: #b0b0b0;
$standardFontweight: 400;
$iconsMargin: 15px;
$hoverButtonsColor: #65401e;
$standardTransition: 0.3s linear;
$asideColor: #4f659a;
$squareAsideHeight: 65px;
$triangleHeight: 100px;
$blogSectionColor: #eae8e6;
$footerTopBgColor: #111110;
$footerBottomBgColor: #191817;
$footerHeight: 600px;
$footerBottomHeight: 100px;
$footerBottomColor: #353333;
