$standardContainerWidth: 60%;
$headerTopHeight: 95px;
$headerBottomHeight: calc(100% - #{$headerTopHeight});
$brandColor: #ae8652;
$standardTextColor: #b0b0b0;
$standardFontweight: 400;
$iconsMargin: 15px;
$hoverButtonsColor: #65401e;
$standardTransition: 0.3s linear;
$asideColor: #4f659a;
$squareAsideHeight: 65px;
$triangleHeight: 100px;
