#avada-grooming-products {
  position: relative;
  height: 1070px;
  background-image: url("../img/avadabarbers-reviewsbackground.jpg");
  @include backgroundSize;
  background-position: top;
  text-align: center;
  &::before {
    @include triangleUpLayout(#121314);
  }

  .column-section {
    @include displaySet(row, flex-start, stretch);

    .column {
      width: calc(100% / 4);
      padding: 50px 100px;

      .content {
        @include displaySet(column, flex-start, center);
        width: 100%;

        img {
          width: 450px;
        }
        p {
          margin: 10px 0;
          color: $brandColor;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }
}
