#avada-grooming-products {
  position: relative;
  width: 100%;
  height: 1070px;
  background-image: url("../img/avadabarbers-reviewsbackground.jpg");
  @include backgroundSize;
  background-position: top;
  text-align: center;
  &::before {
    @include triangleUpLayout(#121314);
  }
  .column-section {
    @include displaySet(row, flex-start, stretch);
    .column {
      width: calc(100% / 4);
      padding: 50px 100px;
      .content {
        @include displaySet(column, flex-start, center);
        width: 100%;
        img {
          width: 450px;
        }
        p {
          margin: 10px 0;
          color: $brandColor;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }

  #months-product {
    @include position(absolute, bottom, -410px, left, 50%);
    transform: translateX(-50%);
    @include displaySet(row, flex-start, stretch);
    width: 60%;
    height: $monthsProductHeight;
    background-color: $footerTopBgColor;
    border-top: 3px solid $brandColor;
    z-index: 2;
    .left {
      @include displaySet(row, center, center);
      width: 40%;
      background-image: url("../img/avadabarbers-cta-background.jpg");
      @include backgroundSize;
      background-position: center;
    }
    .right {
      position: relative;
      width: 60%;
      text-align: left;
      .content {
        @include position(absolute, top, 50%, left, 50%);
        transform: translate(-50%, -50%);
        width: 72%;
        h2 {
          margin: 5px 0 30px 0;
        }
        p {
          color: $mainParagrapghColor;
          font-weight: 300;
          line-height: 32.4px;
        }
        a {
          margin: 20px 0;
        }
      } //.content
    } // .right
  } // #months-product
} // #avada-grooming-products
