#reviews {
  background-color: #ffffff;
  text-align: center;
  padding-top: calc(#{$monthsProductHeight} + 100px);
  &::after {
    @include triangleDownLayout(#ffffff);
  }
  .container {
    @include headerContainer($standardContainerWidth);
    @include displaySet(row, space-around, stretch);
    flex-wrap: wrap;
    .column {
      width: calc(100% / 3);
      padding: 60px;
      .content {
        p {
          color: $mainParagrapghColor;
          font-weight: 300;
          line-height: 32.4px;
        }
        img {
          @include setWH(120px, none);
          margin: 20px 0;
          border-radius: 50%;
        }
      }
    }
  }
}
